///
/// Elemental by Pixelarity
/// pixelarity.com @pixelarity
/// License: pixelarity.com/license
///

/* Logo */

	.logo {
		@include icon;
		border: 0;
		color: inherit;
		display: block;
		margin: 0 0 (_size(element-margin) * 0.75) 0;

		&:before {
			background: _palette(accent1, bg);
			border-radius: _size(border-radius);
			color: _palette(accent1, fg-bold);
			content: '\f0e7';
			display: inline-block;
			font-size: 3em;
			height: 1.65em;
			line-height: 1.65em;
			text-align: center;
			width: 1.65em;
		}

		@include breakpoint(large) {
			&:before {
				font-size: 2.5em;
				font-size: 40px;
			}
		}

		@include breakpoint(small) {
			margin: 0 0 (_size(element-margin) * 0.5) 0;

			&:before {
				font-size: 2em;
				font-size: 30px;
			}
		}
	}